body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.product img {
    width: 150px; /* Фиксированная ширина */
    height: auto; /* Автоматическая высота */
}

.product button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
}

.notification {
   display: none; 
   position: fixed; 
   bottom: 20px; 
   left: 50%;
   transform: translateX(-50%);
   background-color: #28a745; 
   color: white; 
   padding: 15px; 
   border-radius: 5px; 
}
